commands: #runs before everything is set up
  create_test_file:
    command: touch test.txt
    cwd: /home/ec2-user

container_commands: #affects the application source code, before the app version is deployed
  modify_index_html:
    command: echo $(printenv) >> index.html
    leader_only: true #run only on 1 ec2 instance
